body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    display: inline-block;
}

input, textarea {
    width: 300px;
    margin: 5px;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
}
